@model Hermina_ABRTL.ViewModel.ExtReportRABVM

<div class="hm-layout screen-page">
    <div class="hm-row hm-rab-layout">
        <div class="hm-expport">
            <h3>
                Executive Report RAB @Model.NamaRS @Model.Round <span id="PeriodeValidatorRABLyt">
                    @{
                        var Month = Model.Periode.Substring(4, 2);
                        var Year = " " + Model.Periode.Substring(0, 4);
                        if (Month == "01")
                        {
                            var Bulan = "Januari"; @Bulan }
                        else if (Month == "02")
                        {
                            var Bulan = "February"; @Bulan }
                        else if (Month == "03")
                        {
                            var Bulan = "March"; @Bulan}
                        else if (Month == "04")
                        {
                            var Bulan = "April"; @Bulan}
                        else if (Month == "05")
                        {
                            var Bulan = "May"; @Bulan}
                        else if (Month == "06")
                        {
                            var Bulan = "June"; @Bulan}
                        else if (Month == "07")
                        {
                            var Bulan = "July"; @Bulan}
                        else if (Month == "08")
                        {
                            var Bulan = "August"; @Bulan}
                        else if (Month == "09")
                        {
                            var Bulan = "September"; @Bulan}
                        else if (Month == "10")
                        {
                            var Bulan = "October"; @Bulan}
                        else if (Month == "011")
                        {
                            var Bulan = "November"; @Bulan}
                        else if (Month == "12")
                        {
                            var Bulan = "December"; @Bulan}
                        @Year
                    }
                </span>
            </h3>
            <div class="hm-expport-main" style="border:none">
                <div class="hm-row hm-rabform">
                    <div class="hm-row hm-rab-head">
                        <div class="hm-rab-col-3 hm-rab-head-style hm-view-fct-3">Penilaian</div>
                        <div class="hm-rab-col-4 hm-rab-head-style">Nilai</div>
                        <div class="hm-rab-col-5 hm-rab-head-style hm-view-fct-4">Keterangan</div>
                        <div class="hm-rab-col-14 hm-rab-merge-style">
                            <div class="hm-row">Material</div>
                            <div class="hm-row hm-rab-snd-row">
                                <div class="hm-subcol">Kategori</div>
                                <div class="hm-subcol hm-subcol-mid-style">Item</div>
                                <div class="hm-subcol">Merk</div>
                            </div>
                        </div>
                        <div class="hm-rab-col-6 hm-rab-merge-style">Batasan<br>Biaya</div>
                        <div class="hm-rab-col-7 hm-rab-head-style">Biaya</div>
                        <div class="hm-rab-col-8 hm-rab-head-style">Selisih</div>
                        @*<div class="hm-rab-col-9 hm-rab-merge-style">Picture<br>(Before)</div>*@
                    </div>
                    <div class="hm-row hm-rab-body">
                        @foreach (var item in Model.listData)
                        {
                            var LgKom = item.Penilaian.Length;
                            var LgInfo = item.Keterangan.Length;
                            var LgItem = item.ItemPerbaiki.Length;
                            var lgDeskrp = item.DeskripsiPerbaiki.Length;
                            var node = " ...";
                            <div class="hm-rab-list">
                                <div class="hm-rab-col-3 hm-rab-body-style hm-rab-font-style hm-view-fct-3">
                                    @if (LgKom < 35)
                                    {
                                        <div class="toltip">
                                            @item.Penilaian
                                            <span class="toltiptext">@item.SubArea / @item.Item / @item.Penilaian</span>
                                        </div>
                                    }
                                    else if (LgKom >= 35)
                                    {
                                        var SbKom = item.Penilaian.Substring(0, 35);
                                        <div class="toltip">
                                            @SbKom @node
                                            <span class="toltiptext">@item.SubArea / @item.Item / @item.Penilaian</span>
                                        </div>

                                    }
                                </div>
                                <div class="hm-rab-col-4 hm-rab-body-style hm-rab-alg-center hm-rab-font-style">@item.Nilai</div>
                                <div class="hm-rab-col-5 hm-rab-body-style hm-rab-font-style hm-view-fct-4">
                                    @if (LgInfo < 25)
                                    {@item.Keterangan }
                                else if (LgInfo >= 25)
                                {
                                    var SbInfo = item.Keterangan.Substring(0, 25); @SbInfo @node}
                                </div>
                                <div class="hm-rab-col-15 hm-rab-sel-style">

                                    <label>@item.KomponenPerbaiki</label>
                                </div>
                                <div class="hm-rab-col-15 hm-rab-sel-style">
                                    @if (LgItem < 17)
                                    {<label>@item.ItemPerbaiki</label>}
                                else
                                {
                                    var SbItem = item.ItemPerbaiki.Substring(0, 17); <label>@SbItem @node</label>}
                                </div>

                                <div class="hm-rab-col-15 hm-rab-sel-style">
                                    @if (lgDeskrp < 18)
                                    {<label>@item.DeskripsiPerbaiki</label>}
                                else
                                {
                                    var SbDeskp = item.DeskripsiPerbaiki.Substring(0, 18); <label>@SbDeskp @node</label>}
                                </div>
                                <div class="hm-rab-col-6 hm-rab-input-style hm-rab-alg-right">
                                    <input type="text" name="budget[]" value="@item.HargaDasar" disabled />
                                </div>
                                <div class="hm-rab-col-7 hm-rab-input-style" id="pyt2">
                                    <input type="text" name="payout[]" value="@item.HargaInput" autocomplete="off" disabled />
                                </div>
                                <div class="hm-rab-col-8 hm-rab-input-style hm-rab-alg-right" id="qrl2">

                                    <input type="text" name="quareel[]" value="@item.SelisihHarga" disabled>
                                </div>
                                @*<div class="hm-rab-col-9 hm-rab-symbol-style hm-rab-alg-center"><a href="@Url.Action("BRABImage", "Validator", new { ID = item.ID, Round = item.Round, Periode = item.Periode, IDRS = Model.IDRS})" target="_blank"><i class="fas fa-image"></i></a></div>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="hm-row hm-tbl-pcr-styl">
                @if (Model.listDataImage != null)
                {
                    <table class="hm-tbl-pcr">
                        <tr class="hm-tbl-pcr-head">
                            <td class="hm-hdpc-1 hm-hdpc-style">Informasi</td>
                            <td class="hm-hdpc-2 hm-hdpc-style">Gambar Sebelum Perbaikan</td>
                            <td class="hm-hdpc-3 hm-hdpc-style">Gambar Setelah Perbaikan</td>
                        </tr>
                        @if (Model.listDataImage.Count > 0)
                        {
                            <tbody class="hm-body-pctr">
                                @foreach (var img in Model.listDataImage)
                                {
                                    <tr>
                                        <td class="hm-hdpc-1 hm-body-style"><div class="hm-itm-pctr">@img.SubAreaIMG / @img.ItemIMG / @img.PenilaianIMG <br> <b> Keterangan Penilaian : <u>@img.KeteranganIMG</u></b></div></td>
                                        <td class="hm-hdpc-2 hm-body-style"><div class="hm-itm-pctr"><img src="@img.BeforeIMG" alt="Gambar Sebelum Perbaikan" /></div></td>
                                        <td class="hm-hdpc-3 hm-body-style">
                                            @if (img.AfterIMG == "" || img.AfterIMG == null)
                                            {
                                                <div class="hm-itm-pctr"><label>Gambar Belum Tersedia</label></div>
                                            }
                                            else
                                            { <div class="hm-itm-pctr"><img src="@img.AfterIMG" alt="Gambar Setelah Perbaikan" /></div>}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                }
            </div>
            <div class="hm-footer-row">
                <div class="hm-footer-sign">
                    <div class="hm-footer-sign-layout">
                        <div class="hm-col-sign-left">
                            <p><b>Dibuat Oleh</b></p>
                            <p>Manager JangUm @Model.NamaRS</p>
                            <p class="sign-style">
                                <span>Approved</span>
                            </p>
                            <p>@Model.Checker</p>
                        </div>
                    </div>
                    <div class="hm-footer-sign-layout">
                        <div class="hm-col-sign-right">
                            <p><b>Diperiksa Oleh</b></p>
                            <p>Wadir-Um @Model.NamaRS</p>
                            <p class="sign-style">
                                <span>Approved</span>
                            </p>
                            <p>@Model.WakilDir</p>
                        </div>
                    </div>
                </div>
                <div class="hm-footer-sign">
                    <div class="hm-footer-sign-bottom-left">
                        <p><b>Disetujui Oleh</b></p>
                        <p>Direktur @Model.NamaRS</p>
                        <p class="sign-style">
                            <span>Approved</span>
                        </p>
                        <p>@Model.Direktur</p>
                    </div>
                    <div class="hm-footer-sign-bottom-right">
                        <p style="text-align:center;"><b>Diketahui oleh,</b></p>
                        <div class="hm-sign-bottom-child bottom-child-left">
                            <p>Kepala Departemen Penunjang Umum</p>
                            <p class="sign-style">
                                @if (Model.Approve1 != "")
                                {
                                    <span>Approved</span>
                                }
                            </p>
                            <p>@Model.Validator1</p>
                        </div>
                        <div class="hm-sign-bottom-child bottom-child-mid">
                            <p>Direktur Regional</p>
                            <p class="sign-style">
                                @if (Model.Approve2 != "")
                                {
                                    <span>Approved</span>
                                }
                            </p>
                            <p>@Model.Validator2</p>
                        </div>
                        <div class="hm-sign-bottom-child bottom-child-right">
                            <p>Direktur Operasional</p>
                            <p class="sign-style">
                                @if (Model.Approve3 != "")
                                {
                                    <span>Approved</span>
                                }
                            </p>
                            <p>@Model.Validator3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let TxtPeriode = document.getElementById("PeriodeValidatorRABLyt").textContent;
    let Bln = parseInt(TxtPeriode.slice(-2));
    let Thn = TxtPeriode.substring(0, 4);
    const monthNames = ["", "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];
    let BulanVAl = monthNames[Bln];
    let NmBln = BulanVAl + " " + Thn;
    document.getElementById("PeriodeValidatorRABLyt").innerHTML = NmBln;
</script>