@model Hermina_ABRTL.ViewModel.ExcReportVM

<div class="hm-view-exp">
    <div class="hm-expport">
        <h3>Executive Report Checklist @Model.Round @Model.Bulan</h3>
        <div class="hm-expport-main">
            <div class="hm-expport-head">
                <div class="hm-exp-head-1 hm-exp-head-sty">No</div>
                <div class="hm-exp-head-2 hm-exp-head-sty">Unit Area</div>
                <div class="hm-exp-head-3 hm-exp-head-sty">Total Komponen Penilaian</div>
                <div class="hm-exp-head-4 hm-exp-head-sty">
                    <span>Pembersihan</span>
                    <ul>
                        <li class="hm-part-col-left">Jumlah Item Pemeliharaan</li>
                        <li class="hm-part-col-mid">% Pemeliharaan</li>
                        <li class="hm-part-col-right">Daftar Item Pemeliharaan</li>
                    </ul>
                </div>
                <div class="hm-exp-head-5 hm-exp-head-sty">
                    <span>Perbaikan</span>
                    <ul>
                        <li class="hm-part-col-left">Jumlah Item Pemeliharaan</li>
                        <li class="hm-part-col-mid">% Pemeliharaan</li>
                        <li class="hm-part-col-right">Daftar Item Pemeliharaan</li>
                    </ul>
                </div>
                <div class="hm-exp-head-6 hm-exp-head-sty">
                    <span>Penggantian</span>
                    <ul>
                        <li class="hm-part-col-left">Jumlah Item Pemeliharaan</li>
                        <li class="hm-part-col-mid">% Pemeliharaan</li>
                        <li class="hm-part-col-right">Daftar Item Pemeliharaan</li>
                    </ul>
                </div>
            </div>
            <div class="hm-exepport-body">
                <table border="1">
                    @{ int i = 0;}
                    @foreach (var item in Model.listDataArea)
                    {
                        i = i + 1;
                        <tr class="hm-list-body-exp">
                            <td class="hm-list-exp-col-1 hm-list-exp-style"><font>@i.</font></td>
                            <td class="hm-list-exp-col-2 hm-list-exp-style hm-list-exp-mid"><font>@item.RoundArea</font></td>
                            <td class="hm-list-exp-col-3 hm-list-exp-style hm-list-exp-mid hm-align">@item.Total</td>
                            <td class="hm-list-exp-col-4 hm-list-exp-style hm-list-exp-mid hm-align">@item.NilaiA</td>
                            <td class="hm-list-exp-col-5 hm-list-exp-style hm-list-exp-mid hm-align">@item.persenA%</td>
                            <td class="hm-list-exp-col-6 hm-list-exp-style hm-list-exp-mid">
                                <ul class="hm-list-child">
                                    @foreach (var ket in item.listKeteranganA)
                                    {
                                        <li>@ket.Keterangan</li>
                                    }
                                    <li class="hm-blank-spot">This's Column null value database</li>
                                </ul>
                            </td>
                            <td class="hm-list-exp-col-7 hm-list-exp-style hm-list-exp-mid hm-align">@item.NilaiB</td>
                            <td class="hm-list-exp-col-8 hm-list-exp-style hm-list-exp-mid hm-align">@item.persenB%</td>
                            <td class="hm-list-exp-col-9 hm-list-exp-style hm-list-exp-mid">
                                <ul class="hm-list-child">
                                    @foreach (var ket in item.listKeteranganB)
                                    {
                                        <li>@ket.Keterangan</li>
                                    }
                                    <li class="hm-blank-spot">This's Column null value database</li>
                                </ul>
                            </td>
                            <td class="hm-list-exp-col-10 hm-list-exp-style hm-list-exp-mid hm-align">@item.NilaiC</td>
                            <td class="hm-list-exp-col-11 hm-list-exp-style hm-list-exp-mid hm-align">@item.persenC%</td>
                            <td class="hm-list-exp-col-12 hm-list-exp-style">
                                <ul class="hm-list-child">
                                    @foreach (var ket in item.listKeteranganC)
                                    {
                                        <li>@ket.Keterangan</li>
                                    }
                                    <li class="hm-blank-spot">This's Column null value database</li>
                                </ul>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="hm-footer-eport">
            <div class="hm-footer-row">
                <div class="hm-footer-info">
                    <font style="font-weight:bold">Keterangan :</font>
                    <ul>
                        <li>% Jumlah pembersihan = Jumlah item pembersihan / total item penilaian x 100%</li>
                        <li>% Jumlah perbaikan = Jumlah item perbaikan / total item penilaian x 100%</li>
                        <li>% Jumlah penggantian = Jumlah item perbaikan / total item penilaian x 100%</li>
                    </ul>
                </div>
                <div class="hm-footer-calcu">
                    <table border="1">
                        <tr>
                            <td>Bobot penilaian pembersihan = 1</td>
                            <td>@Model.bobotItemA</td>
                        </tr>
                        <tr>
                            <td>Bobot penilaian perbaikan = 0.5</td>
                            <td>@Model.bobotItemB%</td>
                        </tr>
                        <tr>
                            <td>Bobot penilaian penggantian = 0.25</td>
                            <td>@Model.bobotItemC%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="hm-footer-row">
                <div class="hm-footer-report">
                    <table border="1">
                        <tr>
                            <td>Hermina <br> @Model.NamaRS</td>
                            <td>Total Item <br>Penilaian</td>
                            <td>Jumlah Item <br>Pembersihan</td>
                            <td>% <br> Pembersihan</td>
                            <td>Jumlah Item <br>Perbaikan</td>
                            <td>% <br> Perbaikan</td>
                            <td>Jumlah Item <br>Penggantian</td>
                            <td>% <br> Penggantian</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>@Model.totalItemPenilaian</td>
                            <td>@Model.totalItemA</td>
                            <td>@Model.persenTotalItemA%</td>
                            <td>@Model.totalItemB</td>
                            <td>@Model.persenTotalItemB%</td>
                            <td>@Model.totalItemC</td>
                            <td>@Model.persenTotalItemC%</td>
                        </tr>
                    </table>
                </div>
                <div class="hm-footer-summary">
                    <table border="1">
                        <tr><td>Bobot Penilaian ABRTL-RL</td></tr>
                        <tr><td>@Model.totalBobot%</td></tr>
                    </table>
                </div>
                <div class="hm-footer-row">
                    <div class="hm-footer-report hm-parameter-expt">
                        <table border="1">
                            <tr>
                                <td colspan="2">Nilai Aman</td>
                                <td colspan="2">Nilai Bersih</td>
                                <td colspan="2">Nilai Rapih</td>
                                <td colspan="2">Nilai Tampak Baru</td>
                                <td colspan="2">Nilai Ramah Lingkungan</td>
                            </tr>
                            <tr class="hm-value-prmt">
                                <td colspan="2">@Model.persenAman%</td>
                                <td colspan="2">@Model.persenBersih%</td>
                                <td colspan="2">@Model.persenRapih%</td>
                                <td colspan="2">@Model.persenBaru%</td>
                                <td colspan="2">@Model.persenRL%</td>
                            </tr>
                            <tr>
                                <td>Total Aman</td>
                                <td class="hm-sm-prm">@Model.totalAman</td>
                                <td>Total Bersih</td>
                                <td class="hm-sm-prm">@Model.totalBersih</td>
                                <td>Total Rapih</td>
                                <td class="hm-sm-prm">@Model.totalRapih</td>
                                <td>Total Baru</td>
                                <td class="hm-sm-prm">@Model.totalBaru</td>
                                <td>Total Ramah Lingkungan</td>
                                <td class="hm-sm-prm">@Model.totalRL</td>
                            </tr>
                            <tr>
                                <td>Aman</td>
                                <td class="hm-sm-prm">@Model.Aman</td>
                                <td>Bersih</td>
                                <td class="hm-sm-prm">@Model.Bersih</td>
                                <td>Rapih</td>
                                <td class="hm-sm-prm">@Model.Rapih</td>
                                <td>Baru</td>
                                <td class="hm-sm-prm">@Model.Baru</td>
                                <td>Ramah Lingkungan</td>
                                <td class="hm-sm-prm">@Model.RL</td>
                            </tr>
                            <tr>
                                <td>Tidak Aman</td>
                                <td class="hm-sm-prm">@Model.tdkAman</td>
                                <td>Tidak Bersih</td>
                                <td class="hm-sm-prm">@Model.tdkBersih</td>
                                <td>Tidak Rapih</td>
                                <td class="hm-sm-prm">@Model.tdkRapih</td>
                                <td>Tidak Baru</td>
                                <td class="hm-sm-prm">@Model.tdkBaru</td>
                                <td>Tidak Ramah Lingkungan</td>
                                <td class="hm-sm-prm">@Model.tdkRL</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="hm-footer-row">
                <div class="hm-footer-sign">
                    <div class="hm-footer-sign-layout">
                        <div class="hm-col-sign-left">
                            <p><b>Dibuat Oleh</b></p>
                            <p>Manager JangUm @Model.NamaRS</p>
                            <p class="sign-style">
                                <span>Approved</span>
                            </p>
                            <p>@Model.Checker</p>
                        </div>
                    </div>
                    <div class="hm-footer-sign-layout">
                        <div class="hm-col-sign-right">
                            <p><b>Diperiksa Oleh</b></p>
                            <p>Wadir-Um @Model.NamaRS</p>
                            <p class="sign-style">
                                @if (Model.StatusVer1 == "Verify")
                                {<span>Approved</span>}
                            </p>
                            <p>@Model.WakilDirektur</p>
                        </div>
                    </div>
                </div>
                <div class="hm-footer-sign">
                    <div class="hm-footer-sign-bottom-left">
                        <p><b>Disetujui Oleh</b></p>
                        <p>Direktur @Model.NamaRS</p>
                        <p class="sign-style">
                            @if (Model.StatusVer2 == "Verify")
                            {<span>Approved</span>}
                        </p>
                        <p>@Model.DIrektur</p>
                    </div>
                    <div class="hm-footer-sign-bottom-right">
                        <p style="text-align:center;"><b>Diketahui oleh,</b></p>
                        <div class="hm-sign-bottom-child bottom-child-left">
                            <p>Kepala Departemen Penunjang Umum</p>
                            <p class="sign-style">
                                @if (Model.Status1 == "Approve")
                                {<span>Approved</span>}
                            </p>
                            <p>@Model.Validator1</p>
                        </div>
                        <div class="hm-sign-bottom-child bottom-child-mid">
                            <p>Direktur Regional</p>
                            <p class="sign-style">
                                @if (Model.Status2 == "Approve")
                                {<span>Approved</span>}
                            </p>
                            <p>@Model.Validator2</p>
                        </div>
                        <div class="hm-sign-bottom-child bottom-child-right">
                            <p>Direktur Operasional</p>
                            <p class="sign-style">
                                @if (Model.Status3 == "Approve")
                                {<span>Approved</span>}
                            </p>
                            <p>@Model.Validator3</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hm-btn-export">
        @Html.ActionLink("PrintPDF", "PrintPDF", new { IDRS = Model.IDRS, Round = Model.Round, Periode = Model.Periode }, new { @class = "hm-print-btn", id = "printPDF", @target = "_blank" });
    </div>
</div>