@model Hermina_ABRTL.ViewModel.RABListVM

<div class="hm-layout">
    <h2>RAB - Select Round <span id="tanggal"></span></h2>
    @foreach (var a in Model.listCheck)
    {
        <span class="VerifikatorActRound VisibleRound"
              data-round="@a.Round"
              data-status="@a.StatusUmum"
              data-check="@a.Status2"
              data-periode="@a.Periode"
              data-akses="@a.KodeAkses"
              data-nilai1="@a.StatusPenilaian1"
              data-nilai2="@a.StatusPenilaian2"
              data-nilai3="@a.StatusPenilaian3"></span>

    }

    <div class="hm-row">
        <div class="hm-col-round">
            <div class="hm-list-round" id="VRAB1Btn">
                <div class="hm-main-round">
                    <h4 id="VRABtitle1" class="Minactive">Round 1</h4>
                    <div id="VRAB1info">
                        <p class="infoInActive">This round status<br><font>is inactive</font></p>
                    </div>
                </div>
                <div class="hm-stat-round inactived" id="VRAB1Status"><i id="VIconRBA1" class="fa fa-clock-o" aria-hidden="true"></i> <font id="VStatInfoRAB1">Status Inactive</font></div>
            </div>
            <div class="hm-list-round" id="VRAB2Btn">
                <div class="hm-main-round">
                    <h4 id="VRABtitle2" class="Minactive">Round 2</h4>
                    <div id="VRAB2info">
                        <p class="infoInActive">This round status<br><font>is inactive</font></p>
                    </div>
                </div>
                <div class="hm-stat-round inactived" id="VRAB2Status"><i id="VIconRBA2" class="fa fa-clock-o" aria-hidden="true"></i> <font id="VStatInfoRAB2">Status Inactive</font></div>
            </div>
            <div class="hm-list-round" id="VRAB3Btn">
                <div class="hm-main-round">
                    <h4 id="VRABtitle3" class="Minactive">Round 3</h4>
                    <div id="VRAB3info">
                        <p class="infoInActive">This round status<br><font>is inactive</font></p>
                    </div>
                </div>
                <div class="hm-stat-round inactived" id="VRAB3Status"><i id="VIconRBA3" class="fa fa-clock-o" aria-hidden="true"></i> <font id="VStatInfoRAB3">Status Inactive</font></div>
            </div>
            <div class="hm-list-round" id="VRAB4Btn">
                <div class="hm-main-round">
                    <h4 id="VRABtitle4" class="Minactive">Round 4</h4>
                    <div id="VRAB4info">
                        <p class="infoInActive">This round status<br><font>is inactive</font></p>
                    </div>
                </div>
                <div class="hm-stat-round inactived" id="VRAB4Status"><i id="VIconRBA4" class="fa fa-clock-o" aria-hidden="true"></i> <font id="VStatInfoRAB4">Status Inactive</font></div>
            </div>
        </div>
        <div class="hm-col-time">
            <div class="hm-time-info">
                <h4>RAB</h4>
                <p>Periode <span id="VMonthReady"></span> <i class="far fa-clock"></i></p>
            </div>
            <div class="hm-row hm-info-text">
                <p>This Period will be reset automate every 7 days after the deadline submit</p>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/VRABTime.js"></script>