@model  Hermina_ABRTL.ViewModel.ImageRABBVM

<div id="hmIMGVIEW" class="hm-image-modal-view">
    <h3> @Model.Round - @Model.SubArea - @Model.Item - @Model.Komponen</h3>
    <div class="hm-row">
        <div class="hm-hl-img">
            <h3>Gambar Sebelum Perbaikan</h3>
            <img src="@Model.JPG" />
        </div>
        <div class="hm-hl-img">
            <h3>Gambar Setelah Perbaikan</h3>
            <img src="@Model.JPGAfter" />
        </div>
    </div>
</div>

